@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Alata&family=Freehand&family=Patrick+Hand&display=swap');

:root {
    --fonte1: Arial, Helvetica, sans-serif;
    --fonte2: Passion one;
}



* {
    margin: 0px;
    padding: 0px;
}


html, body {
    font-family: var(--fonte1);
    min-width: 100vh;
    background-color: #eed8ae ;

}

header {
    background-color: rgb(83, 63, 32);
    color: #ffffff;
    text-align: center;
}

header > h1 {
    font-family: var(--fonte2);
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;

}

a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
    color: #eed8ae;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;    
}
section > p {
    padding-bottom: 2em;

}

section.normal {
    background-color: #ffffff;
    color: #000000;
}

section.imagem {
    background-color: rgb(83, 63, 32);
    color: #ffffff;
    box-shadow: inset 6px 6px 13px 0px rgba(3, 3, 3, 0.205);
    background-attachment: fixed;
}

section.imagem >p {
    width: 400px;
    background-color: rgba(184, 147, 78, 0.384);
    box-shadow: 4px 4px 7px rgba(90, 64, 40, 0.438);
}

section#img01 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
}

section#img02 {
    background-image: url(imagens/background002.jpg);
    background-position: right center;
}

footer {
    background-color:  rgb(83, 63, 32);
    color: #ffffff; 
    text-align: center;
    padding: 10px;    
}